[Unit]
Description=Run Btrfs Backup every hour
Requires=btrfs-snapshot-sync.service

[Timer]
OnCalendar=hourly
AccuracySec=5min
Persistent=true

[Install]
WantedBy=timers.target
